/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.page .site-branding {
    height: 100vh;
}

.page .wrap {
    align-items: center;
    display: flex;
    flex: 1 0 100%;
    height: 100%;
    width: 100%;

    // .site-branding-text {

    //     * {
    //         display: block;
    //     }
    // }
}

@import "toggle-btn";
@import "scene";
